/* Osnovni stilovi */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#vreme {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#datum {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

select {
  padding: 10px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

/* Teme */
.svetla-tema {
  background-color: #f0f0f0;
  color: #333;
}

.tamna-tema {
  background-color: #121212;
  color: #ffffff;
}

.zelena-tema {
  background-color: #388e3c;
  color: #ffffff;
}

.plava-tema {
  background-color: #1976d2;
  color: #ffffff;
}

.crvena-tema {
  background-color: #d32f2f;
  color: #ffffff;
}
